C#Joel/Sistemas_Malvarado/Sistemas_Malvarado/Connected Services/MAlvaradoWS/DBControllerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DBControllerWS" targetNamespace="http://services.malvaradosoft.inf.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.205.128:8080/MalvaradoSoftWebGF/DBControllerWS?xsd=1" namespace="http://services.malvaradosoft.inf.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="updatePasswordUser">
    <part name="parameters" element="tns:updatePasswordUser" />
  </message>
  <message name="updatePasswordUserResponse">
    <part name="parameters" element="tns:updatePasswordUserResponse" />
  </message>
  <message name="getTimeBlockedByUserName">
    <part name="parameters" element="tns:getTimeBlockedByUserName" />
  </message>
  <message name="getTimeBlockedByUserNameResponse">
    <part name="parameters" element="tns:getTimeBlockedByUserNameResponse" />
  </message>
  <message name="queryGradesByCourseId">
    <part name="parameters" element="tns:queryGradesByCourseId" />
  </message>
  <message name="queryGradesByCourseIdResponse">
    <part name="parameters" element="tns:queryGradesByCourseIdResponse" />
  </message>
  <message name="getNAttemptsByUserName">
    <part name="parameters" element="tns:getNAttemptsByUserName" />
  </message>
  <message name="getNAttemptsByUserNameResponse">
    <part name="parameters" element="tns:getNAttemptsByUserNameResponse" />
  </message>
  <message name="queryGradesSearchByName">
    <part name="parameters" element="tns:queryGradesSearchByName" />
  </message>
  <message name="queryGradesSearchByNameResponse">
    <part name="parameters" element="tns:queryGradesSearchByNameResponse" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherId">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherId" />
  </message>
  <message name="queryAllCourseSchedulesByTeacherIdResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesByTeacherIdResponse" />
  </message>
  <message name="queryAllCourseSchedules">
    <part name="parameters" element="tns:queryAllCourseSchedules" />
  </message>
  <message name="queryAllCourseSchedulesResponse">
    <part name="parameters" element="tns:queryAllCourseSchedulesResponse" />
  </message>
  <message name="queryAllTypesXIDUser">
    <part name="parameters" element="tns:queryAllTypesXIDUser" />
  </message>
  <message name="queryAllTypesXIDUserResponse">
    <part name="parameters" element="tns:queryAllTypesXIDUserResponse" />
  </message>
  <message name="queryUserLogin">
    <part name="parameters" element="tns:queryUserLogin" />
  </message>
  <message name="queryUserLoginResponse">
    <part name="parameters" element="tns:queryUserLoginResponse" />
  </message>
  <message name="queryAllCourses">
    <part name="parameters" element="tns:queryAllCourses" />
  </message>
  <message name="queryAllCoursesResponse">
    <part name="parameters" element="tns:queryAllCoursesResponse" />
  </message>
  <message name="insertGRade">
    <part name="parameters" element="tns:insertGRade" />
  </message>
  <message name="insertGRadeResponse">
    <part name="parameters" element="tns:insertGRadeResponse" />
  </message>
  <message name="queryAllGrades">
    <part name="parameters" element="tns:queryAllGrades" />
  </message>
  <message name="queryAllGradesResponse">
    <part name="parameters" element="tns:queryAllGradesResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="updateGRade">
    <part name="parameters" element="tns:updateGRade" />
  </message>
  <message name="updateGRadeResponse">
    <part name="parameters" element="tns:updateGRadeResponse" />
  </message>
  <message name="deleteGRade">
    <part name="parameters" element="tns:deleteGRade" />
  </message>
  <message name="deleteGRadeResponse">
    <part name="parameters" element="tns:deleteGRadeResponse" />
  </message>
  <portType name="DBControllerWS">
    <operation name="updatePasswordUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserRequest" message="tns:updatePasswordUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updatePasswordUserResponse" message="tns:updatePasswordUserResponse" />
    </operation>
    <operation name="getTimeBlockedByUserName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/getTimeBlockedByUserNameRequest" message="tns:getTimeBlockedByUserName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/getTimeBlockedByUserNameResponse" message="tns:getTimeBlockedByUserNameResponse" />
    </operation>
    <operation name="queryGradesByCourseId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdRequest" message="tns:queryGradesByCourseId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesByCourseIdResponse" message="tns:queryGradesByCourseIdResponse" />
    </operation>
    <operation name="getNAttemptsByUserName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/getNAttemptsByUserNameRequest" message="tns:getNAttemptsByUserName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/getNAttemptsByUserNameResponse" message="tns:getNAttemptsByUserNameResponse" />
    </operation>
    <operation name="queryGradesSearchByName">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameRequest" message="tns:queryGradesSearchByName" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryGradesSearchByNameResponse" message="tns:queryGradesSearchByNameResponse" />
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdRequest" message="tns:queryAllCourseSchedulesByTeacherId" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesByTeacherIdResponse" message="tns:queryAllCourseSchedulesByTeacherIdResponse" />
    </operation>
    <operation name="queryAllCourseSchedules">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesRequest" message="tns:queryAllCourseSchedules" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCourseSchedulesResponse" message="tns:queryAllCourseSchedulesResponse" />
    </operation>
    <operation name="queryAllTypesXIDUser">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXIDUserRequest" message="tns:queryAllTypesXIDUser" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllTypesXIDUserResponse" message="tns:queryAllTypesXIDUserResponse" />
    </operation>
    <operation name="queryUserLogin">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserLoginRequest" message="tns:queryUserLogin" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryUserLoginResponse" message="tns:queryUserLoginResponse" />
    </operation>
    <operation name="queryAllCourses">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesRequest" message="tns:queryAllCourses" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllCoursesResponse" message="tns:queryAllCoursesResponse" />
    </operation>
    <operation name="insertGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeRequest" message="tns:insertGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/insertGRadeResponse" message="tns:insertGRadeResponse" />
    </operation>
    <operation name="queryAllGrades">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesRequest" message="tns:queryAllGrades" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/queryAllGradesResponse" message="tns:queryAllGradesResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="updateGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeRequest" message="tns:updateGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/updateGRadeResponse" message="tns:updateGRadeResponse" />
    </operation>
    <operation name="deleteGRade">
      <input wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeRequest" message="tns:deleteGRade" />
      <output wsam:Action="http://services.malvaradosoft.inf.pucp.edu.pe/DBControllerWS/deleteGRadeResponse" message="tns:deleteGRadeResponse" />
    </operation>
  </portType>
  <binding name="DBControllerWSPortBinding" type="tns:DBControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="updatePasswordUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTimeBlockedByUserName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryGradesByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNAttemptsByUserName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryGradesSearchByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseSchedulesByTeacherId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourseSchedules">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllTypesXIDUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryUserLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCourses">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllGrades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteGRade">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DBControllerWS">
    <port name="DBControllerWSPort" binding="tns:DBControllerWSPortBinding">
      <soap:address location="http://192.168.205.128:8080/MalvaradoSoftWebGF/DBControllerWS" />
    </port>
  </service>
</definitions>