csharp/Sistemas_Malvarado/Sistemas_Malvarado/Connected Services/MAlvaradoWS/DBControllerWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.malvaradosoft.inf.pucp.edu.pe/" targetNamespace="http://services.malvaradosoft.inf.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deleteGRade" type="tns:deleteGRade" />
  <xs:element name="deleteGRadeResponse" type="tns:deleteGRadeResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertGRade" type="tns:insertGRade" />
  <xs:element name="insertGRadeResponse" type="tns:insertGRadeResponse" />
  <xs:element name="queryAllGrades" type="tns:queryAllGrades" />
  <xs:element name="queryAllGradesResponse" type="tns:queryAllGradesResponse" />
  <xs:element name="queryGradesByCourseId" type="tns:queryGradesByCourseId" />
  <xs:element name="queryGradesByCourseIdResponse" type="tns:queryGradesByCourseIdResponse" />
  <xs:element name="updateGRade" type="tns:updateGRade" />
  <xs:element name="updateGRadeResponse" type="tns:updateGRadeResponse" />
  <xs:complexType name="deleteGRade">
    <xs:sequence>
      <xs:element minOccurs="0" name="grade" type="tns:grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grade">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" type="tns:course" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="idGrade" type="xs:int" />
      <xs:element name="weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="level" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGRadeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateGRade">
    <xs:sequence>
      <xs:element minOccurs="0" name="grade" type="tns:grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateGRadeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertGRade">
    <xs:sequence>
      <xs:element minOccurs="0" name="grade" type="tns:grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertGRadeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryGradesByCourseId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryGradesByCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllGrades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllGradesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grade" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>